@{
    ViewData["Title"] = "Edit Dish";
}
@model Dish

<div class="text-center">
    <h1 class="display-4">Edit @Model.Name</h1>
</div>
<div class="border border-dark p-3 m-3">
    <form method="POST" asp-action="UpdateDish" asp-controller="Home">
        <div class="form-group">
            <label asp-for="Chef">Chef's Name</label>
            <input class="form-control" type="text" asp-for="Chef" value="@Model.Chef">
            <span class="text-danger" asp-validation-for="Chef"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" value="@Model.Name">Name of Dish</label>
            <input class="form-control" type="text" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Calories" value="@Model.Calories"># of Calories</label>
            <input class="form-control" type="number" asp-for="Calories">
            <span class="text-danger" asp-validation-for="Calories"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tastiness">Tastiness</label>
            <select class="form-control" type="number" asp-for="Tastiness" value="@Model.Tastiness">
                <option value=1 asp-for="Tastiness">1</option>
                <option value=2 asp-for="Tastiness">2</option>
                <option value=3 asp-for="Tastiness">3</option>
                <option value=4 asp-for="Tastiness">4</option>
                <option value=5 asp-for="Tastiness">5</option>
            </select>
            <span class="text-danger" asp-validation-for="Tastiness"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea class="form-control" asp-for="Description">@Model.Description</textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <input type="hidden" asp-for="DishId" value="@Model.DishId">
        <input type="hidden" asp-for="CreatedAt" value="@Model.CreatedAt">
        <button class="btn btn-primary" type="submit">Edit Dish</button>
    </form>
</div>